
@font-face {
    font-family: 'Coolvetica';
    src: url('../../assets/fonts/coolvetica-rg.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Coolvetica';
    src: url('../../assets/fonts/coolveticael-extra-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.switchContainer {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1rem;
    border-radius: 4px;
    z-index: 2;
}

.startStreamingContainer {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    padding: 1rem;
    border-radius: 4px;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: #3498db;
    color: #ffffff;
    transition: background-color 0.3s ease;
    margin: 8px auto;
}

.startStreamingContainer:hover {
    background-color: #2980b9;
}

.startStreamingContainer:focus {
    outline: none;
}

.startStreamingContainer:active {
    background-color: #1f618d;
}

.titleOverlayContainer {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: #001308;
    font-size: 32px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1.0);
    font-family: 'Coolvetica', fallback, sans-serif;
    padding: 1rem;
    border-radius: 4px;
}

.helpTextOverlay {
    top: 7rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: #000000;
    background-color: rgba(255, 255, 255, 1.0);
    font-size: 15px;
    font-style: italic;
    padding: 0.25rem;
    border-radius: 4px;
    text-align: center; /* this is the new line */
}

.mapContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.highlight {
    color: #E85D4A;
}