@font-face {
    font-family: 'Coolvetica';
    src: url('../../assets/fonts/coolvetica-rg.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Coolvetica';
    src: url('../../assets/fonts/coolveticael-extra-light.woff') format('woff');
    font-weight: normal;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-switchcontainer {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1rem;
    border-radius: 4px;
    z-index: 2;
}

.map-switchcontainer .MuiFormControlLabel-label {
    font-family: 'Coolvetica', fallback, sans-serif;
    font-weight: bold;
}

.map-refresh {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0%);
}

.map-titlecontainer,
.map-helpText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 1rem;
    border-radius: 4px;
}

.map-titlecontainer {
    top: 2rem;
    color: #001308;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1.0);
}

.map-helpText {
    top: 8rem;
    color: #000000;
    background-color: rgba(255, 255, 255, 1.0);
    font-size: 15px;
    font-family: 'Coolvetica', fallback, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 0.25rem;
    text-align: center;
}

.highlight {
    color: #E85D4A;
}

/* Media Queries */
@media screen and (max-width: 720px) {
    .map-titlecontainer {
        font-size: 26px;
    }

    .map-helpText {
        top: 6.5rem;
    }

    .map-switchcontainer {
        padding: 0.5rem;
    }

    .map-switchcontainer .MuiFormControlLabel-label {
        font-size: 15px;
    }

    .map-switchcontainer .MuiSwitch-root {
        transform: scale(0.75);
    }
}

@media screen and (max-width: 580px) {
    .map-titlecontainer {
        left: 2rem;
        transform: none;
    }

    .map-switchcontainer {
        left: initial;
        right: 2rem;
        top: 2.3rem;
        justify-content: flex-end;
        padding-left: 0.2rem;
    }
}

@media screen and (max-width: 430px) {
    .map-titlecontainer {
        left: 1rem;
        transform: none;
    }

    .map-switchcontainer {
        right: 0.1rem;
        padding-left: 0;
        padding-right: 0.25rem;
    }
}

@media screen and (max-width: 365px) {
    .map-titlecontainer {
        left: 1rem;
        transform: none;
        display: none;
    }

    .map-switchcontainer {
        left: 53.5%;
        transform: translateX(-50%);
        right: initial;
        padding-left: 0;
        padding-right: 0.25rem;
    }
}