/* Styling for the player container */
.playerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.StreamerPlayer {
  position: relative;
  width: 100%;
  max-width: 900px;
  border-radius: var(--border-radius);
}

.backButton {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 100;
}

.row {
  display: flex;
  /* Using Flexbox for layout inside .row. */
  flex-direction: row;
  /* Elements in the .row are aligned in a row. */
  justify-content: space-between;
  /* Space distributed evenly between flex items. */
  align-items: center;
  /* Centers items vertically if the row doesn't take up the full height. */
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}


.broadcasting-dot {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}