.viewer-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

.viewer-rows {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.viewer-rows-bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Styling for the overlaid title/logo */
.viewer-title {
    font-size: 2rem;
    font-weight: bold;
}

.viewer-backButton {
    padding: 10px;
}

/* Styling for the player container */
.viewer-playerContainer {
    flex-grow: 1;
}

/* Styling for the left button */
.viewer-channelButton {
    padding-left: 10px;
}