/* These are styles scoped to the App component, which is essentially the same as a global styles. Most code is pulled the MiniPlayer boilerplate code. */

.App {
  width: 100%;
  height: 100vh;
  display: grid;
  row-gap: 35px;
  padding: 16px;
  place-items: center;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 20px 34px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  background-color: #0197F6;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.red {
  background-color: #F44336;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .App {
    padding: 35px 100px;
  }
}

/* .App-contentPlaceholder {
  height: 200px;
  width: 100%;
  max-width: 900px;
  background-color: #ccc;
  border-radius: 8px;
}  */