.MiniPlayer {
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
}

.MiniPlayer-videoBox {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.MinPlayer-video {
  position: absolute;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.MinPlayer-video video {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.MinPlayer-video.small {
  position: fixed;
}